@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-font-smoothing: antialiased;
}

body {
  @apply bg-background text-text-primary font-sans antialiased;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #E5E7EB transparent;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #E5E7EB;
  border-radius: 8px;
}

.focus-ring {
  @apply outline-none focus-visible:ring-2 focus-visible:ring-primary-400 focus-visible:ring-offset-2 focus-visible:ring-offset-background;
}
